@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white;
    @apply font-gabarito;
  }

  html{
    scroll-behavior: smooth;
  }
}